<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /> 
    <gcServer enabled="true"/>
  </runtime>
<connectionStrings>
  
  <add name="DbConnection" connectionString="Server=DESKTOP-HIDCEGH\TENKEN;Database=tenken;User Id=sa;Password=123456;" />  
 </connectionStrings>
</configuration>